.Footer {
  background-color: #3a343a;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  width: 100vw;
}
.icons {
  color: white;
  font-size: 35px;
  width: 30%;
  display: flex;
  justify-content: space-around;
}
